<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>TChat</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TChat</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
    		<dict>
    			<key>CFBundleTypeRole</key>
    			<string>Editor</string>
    			<key>CFBundleURLSchemes</key>
    			<array>
    				<string>com.googleusercontent.apps.521036740132-q7qrahmhm2c5hjs81neuhs886fvgpdsh</string>
    				 <string>fb757901591612156</string>
    			</array>
    		</dict>
    	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAppID</key>
    	<string>fb757901591612156</string>
    	<key>FacebookClientToken</key>
    	<string>27d234a4bfac320faeea1be592945106</string>
    	<key>FacebookDisplayName</key>
    	<string>TChat</string>
    	<key>FirebaseAppDelegateProxyEnabled</key>
    	<false/>
    <key>LSApplicationQueriesSchemes</key>
    	<array>
    		<string>fbapi</string>
    		<string>fbapi20130214</string>
    		<string>fbapi20130410</string>
    		<string>fbapi20130702</string>
    		<string>fbapi20131010</string>
    		<string>fbapi20131219</string>
    		<string>fbapi20140410</string>
    		<string>fbapi20140116</string>
    		<string>fbapi20150313</string>
    		<string>fbapi20150629</string>
    		<string>fbapi20160328</string>
    		<string>fbauth</string>
    		<string>fb-messenger-share-api</string>
    		<string>fbauth2</string>
    		<string>fbshareextension</string>
    		<string>https</string>
    		<string>http</string>
    		<string>tel</string>
    		<string>momo</string>
    	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
		<key>UIBackgroundModes</key>
    	<array>
    		<string>bluetooth-peripheral</string>
    		<string>fetch</string>
    		<string>remote-notification</string>
    	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>

	<key>NSPhotoLibraryUsageDescription</key>
    <string>TChat requires access to the photo library.</string>
    <key>NSCameraUsageDescription</key>
    <string>TChat requires access to the camera.</string>


</dict>
</plist>
